:root {
    --main-blue: #4d97f3;
    --second-blue: #2196f3;
    --main-transition: .3s
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", "sens-serif";
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
}

/*   small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* ******* */
.header {
    background-color: #fff;
    box-shadow: 0px 0px 2px 1px #eee;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    height: 60px;
    color: var(--main-blue);
}

@media (max-width: 767px) {
    .header__logo {
        width: 100%;
        justify-content: center;
    }

}

.header__navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navItems>li>a {
    height: 60px;
    font-size: 18px;
    padding: 0px 30px;
    color: #000;
    display: flex;
    align-items: center;
    position: relative;
    transition: var(--main-transition);
    text-align: center;

}

@media (max-width: 767px) {
    .header__navItems {
        margin: auto;
      
    }
    .header__navItems>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }

}

.header__navItems>li>a::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    height: 4px;
    width: 0px;
    background-color: var(--second-blue);
    transition: var(--main-transition);
}

.header__navItems>li>a:hover {
    background-color: #fafafa;
    color: var(--second-blue);
}

.header__navItems>li>a:hover::before {
    width: 100%;
}