:root {
    --main-blue: #4d97f3;
    --second-blue: #2196f3;
    --main-transition: .3s;
    --back-gr-color: #fafafa;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", "sens-serif";
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    padding: 0px 10px;
    margin: auto;
}

/*   small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* ******* */

/*  start header */
.header {
    background-color: #fff;
    box-shadow: 0px 0px 2px 1px #eee;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    height: 60px;
    color: var(--main-blue);
}

@media (max-width: 767px) {
    .header__logo {
        width: 100%;
        justify-content: center;
    }

}

.header__navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navItems>li>a {
    height: 60px;
    font-size: 18px;
    padding: 0px 30px;
    color: #000;
    display: flex;
    align-items: center;
    position: relative;
    transition: var(--main-transition);
    text-align: center;

}

@media (max-width: 767px) {
    .header__navItems {
        margin: auto;

    }

    .header__navItems>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

.header__navItems>li>a::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    height: 4px;
    width: 0px;
    background-color: var(--second-blue);
    transition: var(--main-transition);
}

.header__navItems>li>a:hover {
    background-color: #fafafa;
    color: var(--second-blue);
}

.header__navItems>li>a:hover::before {
    width: 100%;
}

/*  End header */

/* start landing */
.landing {
    position: relative;
}

.landing::before {
    position: absolute;
    content: "";
    top: -30px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #eee;
    z-index: -1;
    transform-origin: top left;
    transform: skewY(-6deg);
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 60px);
    background-color: transparent;
}

@media (max-width: 767px) {
    .landing .container {
        height: calc(100vh - 110px);
    }
}

.landing__text>h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: -40px;
    line-height: 60PX;
}

.landing__text>p {
    font-size: 23px;
    line-height: 39px;
    color: #666
}

@media (max-width: 991px) {
    .landing__text {
        width: 100%;
        text-align: center;
        margin-top: -200px;
    }

    .landing__text>h1 {
        font-size: 26px;
    }

    .landing__text>p {
        font-size: 18px;
        max-width: 500px;
        margin: auto;
        line-height: 30PX;
    }
}

.landing__img>img {
    width: 550px;
    height: 100%;
    transition: var(--main-transition);
    position: relative;
    animation: landingImgUpAndDown 5s linear infinite;
}

@media (max-width: 991px) {
    .landing__img>img {
        display: none;
    }
}

.landing__downClick {

    width: 100%;
    margin-top: -40px;
    text-align: center;
    position: relative;
    animation: landingRowUpAndDown 1.5s linear infinite;
}

/* end landing */

/* start mega menu */

.mega-menu .container {
    position: absolute;
    flex-wrap: nowrap;
    left: 0px;
    background-color: #fff;
    z-index: 9;
    margin-top: 40px;
    visibility: hidden;
    opacity: 0;
    transition: var(--main-transition) linear;
    min-height: 360px;
    border-bottom: 4px solid var(--main-blue);

}

.xxx:hover .container {
    visibility: visible;
    opacity: 1;
    margin: 0px;
}
.mega-menu__image{
    flex:2;
    padding: 10px;
}
.mega-menu__links {
    flex: 1;
}


.mega-menu__image>img {
    max-width: 100%;
    height: 100%;
}

@media (max-width:991px) {
    .mega-menu__image {
        display: none;
    }
}

@media (max-width:767px) {

    .mega-menu .container {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }
}

.mega-menu__links>li {
    padding: 15px 15px;
    font-size: 18px;
    font-weight: bold;
    min-width: 100%;
    color: var(--second-blue);
    position: relative;
}

.mega-menu__links>li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: var(--main-transition);
    background-color: var(--back-gr-color);
    border-bottom: 1px solid var(--second-blue);
}

.mega-menu__links>li:hover::before {
    width: 100%;
}

/* end mega menu */






/* start Animation */

@keyframes landingImgUpAndDown {

    0%,
    100% {
        top: 0px;
    }

    50% {
        top: -50px;
    }
}

@keyframes landingRowUpAndDown {

    0%,
    40%,
    60%,
    80%,
    100% {
        transform: translateY(0px);
    }

    50%,
    70% {
        transform: translateY(-15px);
    }

}




/* end animation */