:root {
    --main-blue: #4d97f3;
    --second-blue: #2196f3;
    --main-transition: 0.3s;
    --back-gr-color: #fafafa;
    --timeAnimationAndTransitionForMainTitle: 0.5s;
    --description-color: #777;
    --features-red: red;
    --features-green: green;
    --features-blue: rgba(24, 118, 241, 0.795);
    --grid-gap: 50px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', 'sens-serif';
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    padding: 0px 10px;
    margin: auto;
}

/*   small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.toUp {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 999999;
    transition: 0.3s ease-in-out;
    visibility: hidden;
}
.toUp:hover {
    background-color: #ccc;
    bottom: 30px;
}
/* ******* */
/* ------  start    main title  ----------*/

.mainTitle {
    text-align: center;
    margin-bottom: 70px;
}

.mainTitle h2 {
    z-index: 2;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid black;
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: auto;
    transition: var(--timeAnimationAndTransitionForMainTitle);
}

.mainTitle h2::before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    border-radius: 50%;
    left: -30px;
    background-color: var(--main-blue);
    transition: var(--timeAnimationAndTransitionForMainTitle);
    z-index: 2;
}

.mainTitle h2::after {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    border-radius: 50%;
    right: -30px;
    background-color: var(--main-blue);
    transition: var(--timeAnimationAndTransitionForMainTitle);
    z-index: 2;
}

.mainTitle h2:hover {
    color: #fff;
    border-color: #fff;
    transition-delay: var(--timeAnimationAndTransitionForMainTitle);
}

.mainTitle h2:hover::before {
    animation: leftMove var(--timeAnimationAndTransitionForMainTitle) forwards;
    z-index: -1;
}

.mainTitle h2:hover::after {
    animation: rightMove var(--timeAnimationAndTransitionForMainTitle) forwards;
    z-index: -1;
}

@keyframes leftMove {
    50% {
        left: 0px;
        height: 16px;
        width: 16px;
    }

    100% {
        left: 0;
        border-radius: 0px;
        height: 100%;
        width: 51%;
    }
}

@keyframes rightMove {
    50% {
        right: 0px;
        height: 16px;
        width: 16px;
    }

    100% {
        right: 0px;
        border-radius: 0px;
        height: 100%;
        width: 51%;
    }
}

/* ------  end  mian title  ----------*/

/* ***************** */

/*  start header */
.header {
    background-color: #fff;
    box-shadow: 0px 0px 2px 1px #eee;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    height: 60px;
    color: var(--main-blue);
}

@media (max-width: 767px) {
    .header__logo {
        width: 100%;
        justify-content: center;
    }
}

.header__navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navItems > li > a {
    height: 60px;
    font-size: 18px;
    padding: 0px 30px;
    color: #000;
    display: flex;
    align-items: center;
    position: relative;
    transition: var(--main-transition);
    text-align: center;
}

@media (max-width: 767px) {
    .header__navItems {
        margin: auto;
    }

    .header__navItems > li > a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

.header__navItems > li > a::before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    height: 4px;
    width: 0px;
    background-color: var(--second-blue);
    transition: var(--main-transition);
}

.header__navItems > li > a:hover {
    background-color: #fafafa;
    color: var(--second-blue);
}

.header__navItems > li > a:hover::before {
    width: 100%;
}

/*  End header */

/* start landing */
.landing {
    position: relative;
}

.landing::before {
    position: absolute;
    content: '';
    top: -30px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #eee;
    z-index: -1;
    transform-origin: top left;
    transform: skewY(-6deg);
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 60px);
    background-color: transparent;
}

@media (max-width: 767px) {
    .landing .container {
        height: calc(100vh - 110px);
    }
}

.landing__text > h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: -40px;
    line-height: 60px;
}

.landing__text > p {
    font-size: 23px;
    line-height: 39px;
    color: #666;
}

@media (max-width: 991px) {
    .landing__text {
        width: 100%;
        text-align: center;
        margin-top: -200px;
    }

    .landing__text > h1 {
        font-size: 26px;
    }

    .landing__text > p {
        font-size: 18px;
        max-width: 500px;
        margin: auto;
        line-height: 30px;
    }
}

.landing__img > img {
    width: 550px;
    height: 100%;
    transition: var(--main-transition);
    position: relative;
    animation: landingImgUpAndDown 5s linear infinite;
}

@media (max-width: 991px) {
    .landing__img > img {
        display: none;
    }
}

.landing__downClick {
    width: 100%;
    margin-top: -30px;
    text-align: center;
    position: relative;
    animation: landingRowUpAndDown 1.5s linear infinite;
    color: var(--second-blue);
}

/* end landing */

/* start mega menu */

.mega-menu .container {
    position: absolute;
    flex-wrap: nowrap;
    left: 0px;
    background-color: #fff;
    z-index: 9;
    margin-top: 40px;
    z-index: -1;
    opacity: 0;
    transition: var(--main-transition) linear;
    min-height: 360px;
    border-bottom: 4px solid var(--main-blue);
}

.mega-menu__image {
    flex: 2;
    padding: 10px;
}

.mega-menu__links {
    flex: 1;
}

.xxx:hover .container {
    z-index: 100;
    opacity: 1;
    margin-top: 1px;
}

.mega-menu__image > img {
    max-width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    .mega-menu__image {
        display: none;
    }
}

@media (max-width: 767px) {
    .mega-menu .container {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }
}

.mega-menu__links > li {
    padding: 15px 15px;
    font-size: 18px;
    font-weight: bold;
    min-width: 100%;
    color: var(--second-blue);
    position: relative;
}

.mega-menu__links > li > i {
    margin-right: 100px;
    display: block;
}

.mega-menu__links > li::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: var(--main-transition);
    background-color: var(--back-gr-color);
    border-bottom: 1px solid var(--second-blue);
}

.mega-menu__links > li:hover::before {
    width: 100%;
}

/* end mega menu */

/* start articles  */
.section {
    padding: 100px 0px;
    /* background-color: red; */
}

.articles__cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
}

@media (max-width: 1199px) {
    .articles__cardsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 991px) {
    .articles__cardsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 580px) {
    .articles__cardsContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

.articles__card {
    box-shadow: #ccc 0px 0px 8px 0px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    transition: var(--main-transition) ease-in-out;
    top: 0px;
}

.articles__card:hover {
    top: -10px;
}

.articles__card:hover .articles__readMore > i {
    animation: ReadMoreRow 0.5s infinite;
}

.articles__card > img {
    width: 100%;
}

.articles__cardTitle {
    font-size: 19px;
    font-weight: bold;
    margin: 15px 10px;
}

.articles__cardDescription {
    font-size: 16px;
    line-height: 24px;
    color: #777;
    margin-left: 15px;
}

.articles__readMore {
    padding: 20px 15px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    border-top: 1px solid #eee;
    color: var(--second-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles__readMore > i {
    position: relative;
}

@keyframes ReadMoreRow {
    from {
        right: 0px;
    }

    to {
        right: -7px;
    }
}

/* end articles */

/* start gallery */
.gallery {
    background-color: #ececec;
    position: relative;
    z-index: 2;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
}

@media (max-width: 991px) {
    .gallery .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 680px) {
    .gallery .container {
        grid-template-columns: 1fr;
    }
}

.gallery_imgContainer {
    border: 15px solid #fff;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery_imgContainer > img {
    width: 100%;
    height: 100%;
    transition: var(--main-transition);
}

.gallery_imgContainer::before {
    position: absolute;
    content: '';
    height: 0px;
    width: 0px;
    background-color: rgba(241, 241, 241, 0.158);
    z-index: 99;
    transition: var(--main-transition);
}

.gallery_imgContainer:hover > img {
    transform: rotate(5deg) scale(1.1);
}

.gallery_imgContainer:hover::before {
    width: 100%;
    height: 100%;
}

/* end gallery */

/* start features */
.features {
    background-color: #fff;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--grid-gap);
}
.features__box {
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
.features__imgHolder > img {
    max-width: 100%;
}
.features__imgHolder {
    position: relative;
    overflow: hidden;
}
.features__imgHolder::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.4;
}

.features__imgHolder::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 100px solid black;
    border-width: 0px 0px 160px 450px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features__box:hover .features__imgHolder::after {
    border-width: 0px 450px 160px 0px;
    border-color: transparent transparent white transparent;
}

.features__name {
    font-size: 40px;
    line-height: 46px;
    margin: 20px auto;
    font-weight: bold;
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
}
.features__name::before {
    position: absolute;
    content: '';
    height: 4px;
    width: 80%;
    bottom: -10px;
    background-color: var(--features-red);
}
.features__name.time::before {
    background-color: var(--features-green);
}

.features__description {
    line-height: 40px;
    font-size: 20px;
    color: var(--description-color);
    margin: 20px 30px;
}
.features__more {
    border: 2px solid #ccc;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 5px;
    margin: 30px auto;
    font-weight: bold;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: var(--main-transition);
    color: white;
}
.features__more::before {
    content: '';
}

.features .quality .features__imgHolder::before {
    background-color: var(--features-red);
}
.features .time .features__imgHolder::before {
    background-color: var(--features-green);
}
.features .passion .features__imgHolder::before {
    background-color: var(--features-blue);
}

.features .quality .features__name::before {
    background-color: var(--features-red);
}
.features .time .features__name::before {
    background-color: var(--features-green);
}
.features .passion .features__name::before {
    background-color: var(--features-blue);
}

.features .quality .features__more {
    color: var(--features-red);
    border-color: var(--features-red);
}
.features .time .features__more {
    color: var(--features-green);
    border-color: var(--features-green);
}
.features .passion .features__more {
    color: var(--features-blue);
    border-color: var(--features-blue);
}

/* end features */

/* start testimonials */
.testimonials {
    background-color: #ececec;
}
.testimonials .testimonials__cards,
.services--container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--grid-gap);
}
.testimonials__card {
    background-color: #fff;
    position: relative;
    padding: 20px;
    border-radius: 10px;
}
.testimonials__card > img {
    position: absolute;
    height: 100px;
    width: 100px;
    top: -60px;
    right: -25px;
    border-radius: 50%;
    border: 10px solid #ececee;
}
.testimonials__cardTitle {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 15px;
}
.testimonials__carJop,
.testimonials__carDesc {
    font-size: 16px;
    color: #777777;
    margin-bottom: 15px;
}
.filled.fas.fa-star {
    color: #ffc107;
    margin-bottom: 15px;
}

.testimonials__carDesc {
    margin-bottom: 0px;
    line-height: 24px;
}
.testimonials__cardRate i {
    margin-right: 2px;
}
/* end testimonials */

/* start  team member */
.team--container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 40px 80px;
}
.team--card {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding-top: 70px;
    position: relative;
}
.team--card::before {
    position: absolute;
    content: '';
    width: 0px;
    height: 100%;
    background-color: rgba(153, 149, 149, 0.6);
    right: 0px;
    top: 0px;
    z-index: 1;
    border-radius: 10px;
    transition: var(--main-transition);
}
.team--card:hover::before {
    width: 100%;
}
.team--imgAndSocialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team--img {
    max-width: 90%;
    height: auto;
    margin-left: -40px;
    border-radius: 10px;
    z-index: 2;
    position: relative;
    transition: var(--main-transition);
}
.team--card:hover .team--img {
    filter: grayscale(100%);
}
.team--social a {
    color: var(--description-color);
    padding: 20px;
}
.team--social a:hover {
    color: var(--main-blue);
}
.team--name {
    font-size: 22px;
    font-weight: bold;
    color: var(--main-blue);
    padding: 15px;
}
.team--desc {
    font-size: 16px;
    color: black;
    padding-left: 15px;
    padding-bottom: 30px;
}
/* end team member */

/* start services */
.services {
    background-color: #ececec;
}
.services--card {
    background-color: #fff;
    padding-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    transition: all var(--main-transition) ease-in-out;
    top: 0px;
}
.services--card:hover {
    top: -15px;
}
.services--card > * {
    width: 100%;
}
.services--card::before {
    position: absolute;
    content: '';
    display: flex;
    justify-content: center;
    height: 3px;
    width: 0%;
    top: 0px;
    background-color: var(--second-blue);
    text-align: center;
    transition: var(--main-transition) ease-in-out;
}
.services--card:hover::before {
    width: 100%;
}
.services--icon {
    font-size: 40px;
    color: #d5d5d5;
}
.services--title {
    color: var(--second-blue);
    font-size: 27px;
    font-weight: bold;
    margin: 15px;
}
.services--footer {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.services--footer > * {
    padding: 10px 15px;
}
.services--footer > p {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    background-color: var(--main-blue);
    width: 90px;
    position: relative;
}
.services--footer > p::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 100%;
    background-color: #d5d5d5;
    left: 80%;
    top: 0px;
    transform: skewX(-20deg);
}
.services--footer > a {
    color: var(--second-blue);
    font-size: 16px;
}

/* end SERVICES */

/* start our-skills */
.skills--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.skills--container > div {
    flex: 1;
}
.skills--progressName {
    font-size: 19px;
    font-weight: bold;
    margin: 20px 0px;
}
.skills--progressLine {
    height: 30px;
    background-color: #eeeeee;
    position: relative;
}
.skills--progressLine::before {
    position: absolute;
    width: 40px;
    height: 20px;
    right: 0px;
    top: -40px;
    border-radius: 5px;
    color: var(--main-blue);
    text-align: center;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills--progressCard:nth-child(1) .skills--progressLine {
    width: attr(data-percent1) !important;
}
.skills--progressCard:nth-child(2) .skills--progressLine::before {
    content: attr(data-percent2);
}
.skills--progressCard:nth-child(3) .skills--progressLine::before {
    content: attr(data-percent3);
}
.skills--progressCard:nth-child(4) .skills--progressLine::before {
    content: attr(data-percent4);
}
.skills--progressCard:nth-child(1) .skills--progressLine::before {
    content: attr(data-percent1);
}
.skills--progressCard:nth-child(2) .skills--progressLine::before {
    content: attr(data-percent2);
}
.skills--progressCard:nth-child(3) .skills--progressLine::before {
    content: attr(data-percent3);
}
.skills--progressCard:nth-child(4) .skills--progressLine::before {
    content: attr(data-percent4);
}
.skills--progressPercent {
    display: block;
    height: 30px;
    background-color: var(--main-blue);
    width: 0px;
    transition: 0.7s ease-in-out;
}

@media screen and (max-width: 991px) {
    .skills-img {
        display: none;
    }
}

/* end our-skills */

/* start HOW IT WORKS */

.work-steps {
    background-color: #ececec;
}
.work-steps .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .work-steps .container {
        flex-direction: column;
    }
}

.work-steps--img {
    max-width: 100%;
    margin-right: 80px;
}
@media screen and (max-width: 991px) {
    .work-steps--img {
        margin: 0 0 50px 0;
    }
}

.step {
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #fff;
    padding: 30px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f5f5;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
@media screen and (max-width: 991px) {
    .step {
        flex-direction: column;
    }
}
.step::before {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    background-color: #ededed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s ease-in-out;
    z-index: -1;
}
.step:hover::before {
    width: 100%;
    height: 100%;
}
.step img {
    width: 70px;
    height: 70px;
    margin-right: 30px;
}
@media screen and (max-width: 768px) {
    .step img {
        height: 50px;
        width: 50px;
    }
}
.step--description > h3 {
    font-size: 22px;
    font-weight: bold;
    line-height: 31px;
}
.step--description > p {
    font-size: 18px;
    line-height: 1.8;
    color: var(--description-color);
}
@media screen and (max-width: 768px) {
    .step--description {
        text-align: center;
    }
}

/* end HOW IT WORKS ? */

/* start events */

.events--img {
    max-width: 450px;
    height: 100%;
}
@media screen and (max-width: 991px) {
    .events--img {
        display: none;
    }
}
.events--heder {
    position: relative;
    z-index: 1;
}

.events--heder,
.events-timeRemain {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
}
.events-timeRemain {
    justify-content: center;
}
.events-timeRemain .box {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}
.timeRemain--number {
    font-size: 40px;
    font-weight: bold;
    color: var(--main-blue);
    padding: 10px 15px;
}

.timeRemain--text {
    font-size: 14px;
    color: var(--description-color);
    padding: 5px 0px;
    border-top: 1px solid var(--description-color);
    margin-top: 10px;
}

.events--text {
    text-align: center;
}
.events--text > h3 {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px 0px 10px;
}

.events--text > p {
    font-size: 20px;
    color: var(--description-color);
    line-height: 1.7;
}

.events--form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.events--form > div {
    width: auto;
    padding: 30px;
    border-radius: 50px;
    background-color: #f6f5f5;
}
.events--input {
    border-radius: 30px;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    margin-right: 20px;
}

.events--submit {
    border-radius: 30px;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: var(--main-blue);
    color: #fff;
    cursor: pointer;
}
@media screen and (max-width: 991px) {
    .events--form > div,
    .events--input,
    .events--submit {
        width: 100%;
        border-radius: 0px;
    }
    .events--submit {
        margin-top: 20px;
    }
}

/* end events */
.pricing {
    background-color: #ececec;
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.plan--card {
    background-color: #ffff;
}
.plan--title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
}
.plan--card {
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.popular {
    top: -20px;
}
@media screen and (max-width: 1200px) {
    .popular {
        top: 0px;
    }
}

.plan--card::before {
    position: absolute;
    content: '';
    height: 50%;
    width: 0%;
    background-color: #f6f6f6;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.4s ease-in-out;
}
.plan--card::after {
    position: absolute;
    content: '';
    height: 50%;
    width: 0%;
    background-color: #f6f6f6;
    bottom: 0px;
    right: 0;
    z-index: -1;
    transition: 0.4s ease-in-out;
}
.plan--card:hover::before,
.plan--card:hover::after {
    width: 100%;
}
.plan--card:hover .choosePlan {
    background-color: #f6f6f6;
}
.plan--card > img {
    max-width: 70px;
    max-height: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.plan--price {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    color: var(--main-blue);
}

.plan--time {
    font-size: 12x;
    text-align: center;
    color: var(--description-color);
}
.plan--features {
    list-style: none;
    margin: 25px 0px;
}
.plan--features > li {
    font-size: 18px;
    padding: 20px 15px;
    border-top: 1px solid #ccc;
    position: relative;
}
.plan--features > li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f00c';
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-blue);
    font-size: 15px;
}

.choosePlan {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid var(--main-blue);
    color: var(--main-blue);
    margin-bottom: 30px;
    transition: var(--timeAnimationAndTransitionForMainTitle);
    cursor: pointer;
}
.choosePlan:hover {
    background-color: var(--main-blue);
    color: #fff;
}
.card--label {
    position: absolute;
    top: 45px;
    right: -30px;
    background-color: var(--main-blue);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transform: rotate(90deg);
}
.card--label > span {
    position: relative;
    width: 100%;
}
.card--label > span::before {
    content: '';
    position: absolute;
    border: 18px solid red;
    border-color: transparent #fff transparent transparent;
    top: 50%;
    right: -3px;
    transform: translate(50%, -50%);
    z-index: -1;
}

/* start pricing */

/* end pricing */

/* start video */
.video .container {
    display: flex;
    justify-content: space-between;
    background-color: #e2e2e2;
    border: 1px solid #e2e2e2;
    padding: 0px;
}
@media screen and (max-width: 991px) {
    .video .container {
        flex-direction: column;
    }
}

.video--sections {
    min-width: 300px;
}

.video--sections .text {
    width: 100%;
    padding: 20px;
    background-color: #fff;
}
.top-videos {
    background-color: #f4f4f4 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.sections--card {
    border-top: 1px solid #ccc;
}
.sections--card a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding-bottom: 10px;
}
.sections--card a:hover {
    color: var(--second-blue);
}
.sections--card span {
    font-size: 16px;
    color: var(--description-color);
}
.video--img {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.video--img img {
    max-width: 100%;
    max-height: 100%;
}
.video--img p {
    font-size: 16px;
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
}

/* end video */

/* start stats */
.stats {
    background-image: url(../assets/imgs/stats.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.stats::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 95%);
}
.stats .mainTitle h2 {
    border: none;
    font-size: 40px;
}
.stats .mainTitle h2::before,
.stats .mainTitle h2::after {
    display: none;
}

.stats .mainTitle h2:hover {
    color: #000;
}
.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.stats--card {
    position: relative;
    background-color: #fcfdfd;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    position: relative;
}
.stats--card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0%;
    background-color: var(--second-blue);
    transition: 0.7s ease-in-out;
}
.stats--card::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 0%;
    background-color: var(--second-blue);
    transition: 0.7s ease-in-out;
}
.stats--card:hover::before,
.stats--card:hover::after {
    height: 100%;
}

.stats--card i {
    font-size: 32px;
    padding: 10px 0px;
}
.stats--card .card--number {
    font-size: 50px;
    font-weight: bold;
}
.stats--card .card--title {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: var(--second-blue);
    padding: 10px 0px;
}

/* end stats */
/* start footer */
.footer {
    background-color: #191919;
    padding: 40px 20px;
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.footer--personal h2 {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 20px;
}
.footer--personal ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
.footer--personal ul li a {
    width: 50px;
    height: 50px;
    padding: 20px;
    color: #ccc;
    background-color: #313131;
    font-size: 18px;
    margin: 10px;
    transition: 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer--personal p {
    color: #ccc;
    font-size: 16px;
    padding: 20px 0px;
    line-height: 30px;
}

.facebook:hover {
    background-color: var(--main-blue);
}
.twitter:hover {
    background-color: var(--second-blue);
}
.youtube:hover {
    background-color: red;
}
.footer--imortantLink ul {
    list-style: none;
}
.footer--imortantLink ul li:hover a {
    padding-left: 20px;
}
.footer--imortantLink ul li a {
    color: #ccc;
    font-size: 18px;
    padding: 15px 10px;
    display: block;
    border-bottom: 1px solid #313131;
    position: relative;
    transition: 0.2s ease-in-out;
}
.footer--imortantLink ul li a::before {
    font-family: 'Font Awesome 5 Free';
    content: '\F101';
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-blue);
}
.footer--contact {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer--contact .line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer--contact i {
    color: var(--main-blue);
    font-size: 30px;
    padding: 10px;
    margin-right: 15px;
}
.info {
    color: #ccc;
    font-size: 18px;
    padding: 10px 0px;
}
.info span {
    display: block;
    line-height: 1.3;
}
.copyrigth {
    background-color: #191919;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
    border-top: 1px solid #444;
}

/* end footer  */

/* start Animation */

@keyframes landingImgUpAndDown {
    0%,
    100% {
        top: 0px;
    }

    50% {
        top: -50px;
    }
}

@keyframes landingRowUpAndDown {
    0%,
    40%,
    60%,
    80%,
    100% {
        transform: translateY(0px);
    }

    50%,
    70% {
        transform: translateY(-15px);
    }
}

/* end animation */
